<html>
    <head>
        <title>Hello Angular</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
    </head>
    <body>
        <div ng-controller="indexCtrl" class="cmd" ng-class="'loaded'">
            <button type="button" ng-click="callServerFunction()" class="txt">
                Tap to call server function
            </button>
            <div ng-if="result" class="txt">
                Server response: {{result}}
            </div>
        </div>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="jxcore.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>